.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-fg {
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

.modal-fg>p{
  cursor:pointer;
  text-align: right;
  margin:0;

}