h2 {
  text-align: center;
  color:rgb(75, 75, 75);

}

#login label {
  display: block;
}

#login input{
  width: 200px;
  height: 20px;
  border: 2.5px black solid;
  border-radius: 3px;
  margin-top: 0.5rem;
}

#login button{
  transition: all 0.5s;
    width: 210px;
    border-radius: 5px;
    margin-top: 0.5rem;
    height: 30px;
    color: white;
    background-image: linear-gradient(to right, gray, #212529);
    cursor:pointer;
    background-repeat: no-repeat;
}

#login button:hover {
  filter:brightness(1.5);
  transition: 0.5s;
}

#login p {
  text-align: center;
  color:rgb(75, 75, 75);
}

#login-link:hover{
  cursor:pointer;
  color: blue;
}